* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

button {
  background: radial-gradient(hsl(0, 100%, 90%), hsl(0, 100%, 80%), hsl(0, 100%, 75%));
  padding: 25px;
  border-radius: 50%;
  box-shadow: 0 5px  hsl(0, 100%, 50%),
              0 8px  hsl(0, 100%, 45%),
              0 10px hsl(0, 100%, 10%);
  border: none;
  color: rgb(255, 91, 91);
  text-shadow: 0 -1px 0 rgba(255, 110, 110, 0.562);
  transition: .1s ease-out;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0 2px  hsl(0, 100%, 50%),
              0 4px  hsl(0, 100%, 45%),
              0 5px hsl(0, 100%, 10%);
}
